@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="z3998:verse"] p,
[epub|type~="z3998:song"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span,
[epub|type~="z3998:song"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:song"] p > span + br{
	display: none;
}

#chapter-1-4 > blockquote{
	padding-top: 2em;
	padding-bottom: 2em;
}

#chapter-1-4 > blockquote > p{
	text-align: center;
	text-indent: 0;
}

.letter{
	font-style: italic;
}
